<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Orders</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="w-11/12 m-auto" >
    <div *ngFor="let item of request" >
      <div class="rounded-md border border-serviceLight p-4 my-2" >
          <div class="text-lg text-gray-800 ">
            Provider : {{item.payload.doc.data().providername}}
          </div>
          <div class="text-md text-gray-600 ">
            Duration : {{item.payload.doc.data().duration}}
          </div>
          <div class=" text-gray-600 ">
            status : {{item.payload.doc.data().status}}
          </div>

          <div class="flex space-x-1 " *ngIf="!item.payload.doc.data().paid && item.payload.doc.data().invoiceed">
          <app-button-orange routerLink="/payment/{{item.payload.doc.id}}" label="Pay Now"/>
          </div>
        <div>

        </div>
      </div>
    </div>
  </div>

</ion-content>
