<ion-header class="ion-no-border">
 
  <div class="custom-header">
    <ion-title class="text-center">Add Your Work Details</ion-title>
  </div>
</ion-header>
<ion-content  class="ion-padding"  >
<!-- <div class="body">  -->

  

  <div class="buttons">
    <ion-list>
      <ion-item>
        <ion-select aria-label="fruit" placeholder="Select category">
          <ion-select-option value="cleaner">Cleaner</ion-select-option>
          <ion-select-option value="landry">Laundry</ion-select-option>
          <ion-select-option value="electric">Electric</ion-select-option>
          <ion-select-option value="plumber">Plumber</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-list>
    <ion-input label="About" label-placement="floating" fill="outline" placeholder="About"></ion-input>
    <br>
<ion-title>Experience</ion-title>    
    <ion-list>
      <ion-item>
        <ion-input label="Company" placeholder="Enter company name"></ion-input>
     
      </ion-item>
     <ion-item>
      <ion-input label="Years" placeholder="Years you've worked"></ion-input>
     </ion-item>
      <ion-item>
        <ion-input label="Reason" placeholder="Reason for leaving"></ion-input>
      </ion-item>
 
    </ion-list>




    <ion-button  [routerLink]="['/user/cv-page']" >view CV</ion-button>
    <ion-button [routerLink]="['/user/book']">Book Me Now</ion-button>
  </div>

 <!-- </div>  -->
</ion-content>

 