<ion-header class="ion-no-border">
 
  <div class="custom-header">
    <ion-title class="text-center text-white">Add Your Work Details</ion-title>
  </div>
</ion-header>
<ion-content  class="ion-padding"  >
<!-- <div class="body">  -->

  

  <div class="buttons">

    <form [formGroup]="providerForm" >
    <ion-list>
      <ion-item>
        <ion-select aria-label="fruit" formControlName="category" placeholder="Select category">
          <ion-select-option value="cleaner">Cleaner</ion-select-option>
          <ion-select-option value="landry">Laundry</ion-select-option>
          <ion-select-option value="electric">Electric</ion-select-option>
          <ion-select-option value="plumber">Plumber</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-list>
    <div class="space-y-3">

    
    <ion-input label="About" formControlName="about" label-placement="floating" fill="outline" placeholder="About"></ion-input>
    <ion-input label="Monthly rate" formControlName="month" label-placement="floating" fill="outline" placeholder="Monthy Rate"></ion-input>
    <ion-input label="Daily Rate" label-placement="floating" formControlName="daily" fill="outline" placeholder="DalyRate"></ion-input>
    <ion-input label="Weekly Rate" label-placement="floating" formControlName="weekly" fill="outline" placeholder="Weekly Rate"></ion-input>
  </div>
</form>
    <br>
  
<app-button-orange (click)="chnage()" label="Switch to provider" />
  </div>

 <!-- </div>  -->
</ion-content>

 