<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Request</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <div class="w-11/12 m-auto" >
    <div *ngFor="let item of request" >
      <div class="rounded-md border border-serviceLight p-4 my-2" >
          <div class="text-lg text-gray-800 ">
            Client : {{item.payload.doc.data().usernames}}
          </div>
          <div class="text-md text-gray-600 ">
            Duration : {{item.payload.doc.data().duration}}
          </div>
          <div class=" text-gray-600 ">
            status : {{item.payload.doc.data().status}}
          </div>

          <div class="flex space-x-1 " *ngIf="item.payload.doc.data().status==='Booked'">
          <app-button-blue (click)="Status('rejected',item.payload.doc.id)" label="Reject" />
          <app-button-orange (click)="Status('Accepted',item.payload.doc.id)"  label="Accepts"/>
          </div>
          
        <div>

        </div>
      </div>
    </div>
  </div>

</ion-content>
