

<ion-content [fullscreen]="true">
  <app-auth-container>
   <form [formGroup]="registerForm" class="space-y-3">
     <p class="font-bold text-center text-gray-700 text-2xl">SIGN UP</p>
     <ion-input formControlName="names" label="Full Names" type="text" label-placement="floating" fill="outline"
     placeholder="Enter FullNames"></ion-input>
     <ion-input formControlName="phoneNo"  label="Phone" type="number" label-placement="floating" fill="outline"
     placeholder="Enter Phone no"></ion-input>
     <ion-input formControlName="email"  label="Email" type="email" label-placement="floating" fill="outline"
     placeholder="Enter Email"></ion-input>
     <ion-input formControlName="password"  label="Password" type="email" label-placement="floating" fill="outline"
     placeholder="Enter password"></ion-input>
     <br>
     <app-btn-primary (click)="register()" text="Create Account"/>
     <p class="p3">Already have an Account? <span
       class="font-black no-italic text-amber-500 " routerLink="/sign-in">SIGN IN</span> </p>
   </form>
  </app-auth-container>
 </ion-content>
