<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button ></ion-back-button>
    </ion-buttons>
    <ion-title>Your Profile</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <div  class="w-11/12 mt-3  m-auto">
    <ion-avatar class="avatar">
      <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
    </ion-avatar>
    <app-profile-card icon="person" [label]="user.names" />
    <app-profile-card icon="mail" [label]="user.email" />
    <app-profile-card icon="call" [label]="user.phone" />
    
     <ion-button (click)="logout()"  slot="secondary" color="danger" >Log Out</ion-button>
     <ion-button color="success">My Orders</ion-button>
     <div class="p3">
    
    <ion-title class="text-center" >Are You a provider? <span routerLink="/provider/home">Click here</span></ion-title>
    
  </div>
  </div>
</ion-content>