<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Invoices</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="w-11/12 m-auto">
    <div *ngFor="let item of request" >
      <div class="rounded-md border border-serviceLight bg-serviceLight bg-opacity-30 p-4 my-2" >
          <div class="text-lg text-gray-800 ">
            Client : {{item.payload.doc.data().usernames}}
          </div>
          <div class="text-md text-gray-600 ">
            Duration : {{item.payload.doc.data().duration}}
          </div>
          <div class=" text-gray-600 ">
            Paid : {{item.payload.doc.data().paid}}
          </div>
          
        <div>
  
        </div>
      </div>
    </div>
  </div>

</ion-content>
