<ion-header [translucent]="true">
  <ion-toolbar>
<ion-buttons slot="start">
  <ion-back-button></ion-back-button>
</ion-buttons>
    
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="provider" [fullscreen]="true" color="light" class="ion-padding">

  <div class="list"> 
  <div class="pack">
    <ion-title color="primary" class="text-center">Book {{provider.names}}</ion-title>

    <ion-title color="primary" class="text-center">Choose a package</ion-title>
  </div>
  <ion-list [inset]="true" >
    <form [formGroup]="bookForm" >
    
    <ion-radio-group [allowEmptySelection]="true" formControlName="duration" >
    <ion-item>
      <ion-radio value="weekly">Weekly R{{provider.weekly}}</ion-radio><br/>
    </ion-item>
    <ion-item>
      <ion-radio value="monthly">Monthly R{{provider.monthly}} </ion-radio><br />
    </ion-item>
    <ion-item>
      <ion-radio value="daily">Daily R{{provider.daily}}</ion-radio><br />
    </ion-item>
  </ion-radio-group>
  <br>
  <ion-input formControlName="address" label="Address" type="text" label-placement="floating" fill="outline"
  placeholder="Enter Address"></ion-input>


</form>
  </ion-list>
</div> 
<app-button-orange (click)="book()" label="Confirm booking" />
</ion-content>
