<div class="w-full p-4 rounded-3xl bg-slate-100 shadow mx-2">
  <div class=" flex items-center" >
      <img class=" rounded-full h-20 w-20 object-contain" src="/assets/images/1.png" alt="" srcset="">
      <div class="" >
          <p class="font-bold text-2xl text">{{data.names}}</p>
          <p class="text-lg font-extralight italic">{{data.category}}</p>
      </div>
    
  </div>
  <p class="font-bold p-1">R {{data.daily}} <span class="text-gray-700 font-extralight italic" > /day</span></p>
  <div class="flex justify-between">
    <app-button-blue (click)="navigate()" label="View provider" />
  </div>

</div>