<ion-router-outlet></ion-router-outlet>
<ion-tabs class="  bg-opacity-10"  >
  <ion-tab-bar class=" shadow-2xl" slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon name="home"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="profile">  
      <ion-icon name="person"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="Orders">  
      <ion-icon name="cart"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="profile">
      <ion-icon name="person"></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>