<ion-header class="ion-no-border"  [translucent]="true">
  <ion-toolbar color="light">
    <ion-buttons slot="start">
      <ion-back-button ></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <br>
  <swiper-container [autoplay]="{delay: 2000}" [slidesPerView]="1" [loop]="true">
    <swiper-slide>
  <div class="bg-serviceLight bg-opacity-30 h-32  flex items-center  w-full rounded-lg p-3">
    <div class="w-2/2 flex flex-col items-center">
      <p class="text-center text-green-600 font-extrabold text-xl">Take a break we are here to help!</p>
     
    </div>
  </div>
  </swiper-slide>

  <swiper-slide>
    <div class="bg-serviceLight bg-opacity-30 h-32  flex items-center  w-full rounded-lg p-3">
      <div class="w-2/2 flex flex-col items-center">
        <p class="text-center text-serviceOrange font-extrabold text-xl">Where Chores Become Choices!</p>
       
      </div>
    </div>
    </swiper-slide>

    <swiper-slide>
      <div class="bg-serviceLight bg-opacity-30 h-32  flex items-center  w-full rounded-lg p-3">
        <div class="w-2/2 flex flex-col items-center">
          <p class="text-center text-serviceBlue font-extrabold text-xl">Bringing Professionalism to your Home</p>
         
        </div>
      </div>
      </swiper-slide>
 
  </swiper-container>
  <div class="w-11/12 m-auto">
    <div class="my-2" *ngFor="let item of providers">
      <app-providercard [data]="item.payload.doc.data()" [id]="item.payload.doc.id" />
    </div>
  </div>


</ion-content>
