<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar>
    <ion-avatar class="avatar">
        <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
    </ion-avatar>
   <ion-label class="name">Sollomon Makobela</ion-label>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
 <div class="body">

    <h2 style="margin-top:5px;"><ion-icon name="help-circle-outline"></ion-icon>About</h2>
    <h3 style="margin:0px; ">Before we get to the list of specific sample text messages
        to customers,let me just share a bit about how you can
         use this list. </h3>
      <div class="exp">
        <h2><ion-icon name="bag-check-outline"></ion-icon>Experience Summary</h2>
       <div class="expDet">
        <p>Mr Mudau HouseHold</p>
        <p>3 years</p>
        <p>Reason : They moved to USA</p>
       </div>

          <div class="expDet">
        
            <p>Mrs Fits</p>
            <p>4 years</p>
            <p>Reason : Contract termination</p>
          </div>
      </div>

<h2><ion-icon name="star-outline"></ion-icon>Customer Ratings</h2>
<div class="rate">

    <h3>Mr Mudau</h3>
    <p>Sarah was such a cool aunt to my two daughter she is missed</p>
    <ion-icon name="star"></ion-icon>
    <ion-icon name="star"></ion-icon>
    <ion-icon name="star"></ion-icon>
</div>
<h2><ion-icon name="call-outline"></ion-icon>Contact Details</h2>
<div class="contact">

<p> phone numbers : 0797748152</p>
<p> email : sarah.gmail.com</p>
</div>
<div class="but">
  <ion-button>Book Me Now
  </ion-button>
</div>

 </div>
</ion-content>
