<ion-header class="ion-no-border">
 
  <div class="custom-header">
    
  </div>
</ion-header>
<ion-content  class="ion-padding"  >
<!-- <div class="body">  -->
  <ion-title>Abo Aunty HouseKeepers</ion-title>
  <ion-chip color="medium">House Keeping</ion-chip>
 <ion-chip color="medium"><ion-icon name="star" color="warning" style="margin-right: 5px;"></ion-icon>Top rated</ion-chip>
  <p style="font-size: 15px;">The best house keepers you can find in town we understand the 
    importance of privacy and customer satisfication </p>
    <div class="rec">
      <h4 ><ion-icon name="thumbs-up" color="success" style="margin-right: 5px; "></ion-icon>Recommended</h4>
      <h4><ion-icon name="star" color="warning" style="margin-right: 5px;
       "></ion-icon>4.7 Reviews</h4>
    </div>
    <h2 style="margin: 0px;font-weight:550;font-size: 20px;">
      Packages</h2>

    <div class="packages">
      <h4>Daily</h4>
      <h4>Weekly</h4>
      <h4>Monthly</h4>
    </div>
  <div class="info">
  <p>Offering full house keeping 
    services on one day services.</p>
    <h3>Includes</h3>
    <h2>>House cleaning</h2>
    <h2>>Baby seating</h2> 
    <h2>>Limited Laundry</h2>
    <h2>>Dish washing</h2>
    <ion-chip color="warning" style="margin-bottom:10px;">R850</ion-chip>
  </div>
  <div class="buttons">
    <ion-button>view CV</ion-button>
    <ion-button>Book Me Now</ion-button>
  </div>

 <!-- </div>  -->
</ion-content>

 